stages:
  - test

test_pipeline:
  stage: test
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t mini-gitlab .
    - docker run mini-gitlab